[submodule "flask-rutertider"]
	path = flask-rutertider
	url = https://github.com/marhoy/flask-rutertider
[submodule "meteogram"]
	path = meteogram
	url = https://github.com/marhoy/meteogram
[submodule "balena-chromium-kiosk"]
	path = balena-chromium-kiosk
	url = https://github.com/jayatvars/balena-chromium-kiosk
