[submodule "meteogram"]
	path = meteogram
	url = git@github.com:marhoy/meteogram.git
[submodule "balena-telegraf"]
	path = balena-telegraf
	url = git@github.com:marhoy/balena-telegraf.git
[submodule "balena-wifi-restart"]
	path = balena-wifi-restart
	url = git@github.com:marhoy/balena-wifi-restart.git
[submodule "balena-wpe"]
	path = balena-wpe
    url = git@github.com:marhoy/balena-wpe.git
    branch = 2.30.x-dunfell
